/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */


#logo{
    width: 150px;
    height: 100px;
    align-items: center;
}

header{
    background-image: url(../img/pattern.png);
    background-size: 15%;
    background-color: #4EA0FF;
    height: 75px;
}

.azzurro {
    color: #29ACE6;
}

.descrizione{
    font-size: 12px;
}

.testo-evidenziato{
    background-color: yellow;
}

.intestazione-tabella{
    color: white;
    background-color: rgb(41, 172, 230);
}

.riga-dispari{
    background-color: rgb(177, 229, 242);
}
